/* Cart Inline */
.cart-inline {
    max-width: 1000px;
    max-height: 600px;
    overflow-y: auto;
    padding: 15px;
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Cart Item Styling */
.cart-inline-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

/* Image Styling */
.image-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Name and Title */
.cart-inline-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Quantity Controls */
.stepper-input {
    width: 70px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.btn-decrement,
.btn-increment {
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Price */
.cart-inline-title {
    font-size: 16px;
    font-weight: 600;
    color: #555;
    margin-left: 10px;
}

/* Remove Button */
form button {
    margin-top: 20px;
    padding: 5px 10px;
}

/* Order Form */
.form-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.form-group {
    margin-bottom: 10px;
}

button.checkout-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
}
