@{
    ViewData["Title"] = "OurMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @* <link rel="stylesheet" href="~/css/cat-menu.css" /> *@
    @* <link href="~/css/category-icon.css" rel="stylesheet" /> *@
    @* <link href="~/css/product-card.css" rel="stylesheet" /> *@

</head>
<body>
    <!--Our Menu-->
    <section class="breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom context-dark bg-overlay-33">
            <div class="container">
                <h2 class="breadcrumbs-custom-title" style="letter-spacing: 1px;">Our Menu</h2>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Our Menu</li>
                </ul>
            </div>
            <div class="box-position" style="background-image: url(/images/bg-breadcrumbs.jpg); background-size: cover;
        background-repeat: no-repeat;"></div>
        </div>
    </section>

    



    <!-- Javascript-->
    <script src="~/js/core.min.js"></script>
    <script src="~/js/script.js"></script>
    @* <script src="~/js/cat-menu.js"></script> *@
    @* <script src="~/js/model.js"></script> *@


</body>








